<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Create Job</title>
</head>
<body>
{% include 'qrgenerator/navbar.html' %}

{% block content %}
<div class="outline-success">
  <center>
    <h3>Create Job</h3>
    <br>
    <br>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input class="form-control" type="file" id="formFile" name="document">
      <button class="btn btn-outline-success mt-2 ml-2" type="submit">Upload file</button>
    </form>
  </center>
</div>
{% endblock %}
</body>
</html>