asgiref==3.3.1
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
configparser==5.2.0
crayons==0.4.0
Django==3.1.5
django-crispy-forms==1.7.2
et-xmlfile==1.1.0
idna==3.3
numpy==1.19.5
openpyxl==3.0.9
pandas==0.25.3
Pillow==8.1.0
pypng==0.0.20
PyQRCode==1.2.1
python-dateutil==2.8.2
pytz==2020.5
requests==2.27.1
selenium==3.141.0
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.8
webdriver-manager==3.5.2
xlrd==1.2.0
